/* @import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

* {
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  scroll-behavior: smooth;
  /* background-color: rgba(rgb(251, 235, 235), rgb(229, 232, 229), rgb(242, 242, 252), 0.2); */
  /* position: relative ; */
}

:root {
  --accent: #ff9a62;
  --white: #ffffff;
  --gray: rgb(241, 239, 239);
  --textGray: rgb(136, 136, 136);
  --bordergray: rgb(187, 186, 186);
}

.heropage {
  min-width: 100%;
  min-height: 120vh;
  background-image: url(assets/Heropage-final.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* display: flex; */
  /* background: linear-gradient(bottom, rgba(0,0,0,0)70%,rgba(0,0,0,1)) */
}

nav {
  /* border: 1px solid black; */
  background: transparent;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  /* position: fixed; */
  height: 80px;
}

.logo {
  text-align: center;
}

.logo-img {
  height: 70px;
  width: 70px;
  margin-top: 5px;
}

.logo-img > img {
  width: 100%;
  border-radius: 50%;
}

.checkbtn {
  font-size: 30px;
  color: var(--white);
  float: right;
  /* border: 2px solid green; */
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

label.logo {
  color: var(--white);
  font-weight: bold;
  font-size: 35px;
  padding: 0 50px;
  line-height: 85px;
  cursor: pointer;
  display: flex;
  gap: 20px;
  /* float: left; */
  /* border: 2px solid violet; */
}

nav ul {
  /* float: right; */
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  text-decoration: none;
  color: var(--white);
  font-size: 20px;
  font-weight: bold;
  padding: 7px 13px;
  border-radius: 3px;
  background-color: transparent;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  background-color: rgba(170, 169, 169, 0.2);
}

/*----------------------- main hero page styling------------------ */
.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid blue; */
  color: var(--white);
  margin-top: 180px;
}

p.description {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.title {
  font-size: 130px;
  margin-top: 30px;
}

.callout {
  color: var(--white);
  border: 2px solid var(--white);
  background-color: transparent;
  font-size: 20px;
  margin-top: 70px;
  padding: 10px 40px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.5s;
}

.callout:hover {
  border-radius: 20px;
  padding: 10px 20px;
  background-color: rgb(19, 19, 19, 0.5);
}

.upAndDown {
  animation-name: scrolldown;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes scrolldown {
  0%,
  100% {
    transform: translateY(80px);
  }
  50% {
    transform: translateY(30px);
  }
}

h1.beginning {
  color: var(--white);
  text-transform: uppercase;
  margin-top: 12rem;
}

/*-------------------------- features start here--------------------- */
.features {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features h1 {
  /* color: bla; */
  font-size: 40px;
  /* font-weight:normal; */
  text-transform: uppercase;
}

.divider {
  border: 1.5px solid var(--accent);
  margin-top: 10px;
  width: 15%;
}

.boxes {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
  /* margin-top: 50px; */
}

.box {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;
  height: 100%;
  width: 350px;
  padding: 3rem 20px;
  border-radius: 1rem;
  /* border: 2px solid var(--accent); */
  background-color: var(--gray);
  gap: 20px;
  transition: all 1s;
}

.box h4 {
  text-transform: uppercase;
  font-size: 20px;
  /* font-weight: 800; */
}
.box p {
  color: var(--textGray);
}

.box:hover {
  padding: 3rem 50px;
}

.bigdivider {
  margin: 3rem;
  width: 80%;
  border: 1px solid var(--bordergray);
}

/*----------------------------- Destinations--------------- */
.destinations {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.destinations > p {
  color: var(--textGray);
}

.image-boxes {
  display: flex;
  gap: 2rem;
  margin-top: 20px;
}

.image-box {
  width: 420px;
  height: 385px;
  background-position: center;
  overflow: hidden;
  border-radius: 2rem;
}

.overlap-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url(assets/GreeceSantorini.jpeg);
}
.overlap-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url(assets/KyotoJapan.jpeg);
}
.overlap-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url(assets/CapeTownAfrica.jpeg);
}

.overlap-1,
.overlap-2,
.overlap-3 {
  height: 385px;
  color: var(--white);
  background-size: cover;
  background-position: center;
  transition: all 1s;
}

.overlap-1:hover,
.overlap-2:hover,
.overlap-3:hover {
  height: 450px;
}

.overlap-text {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 300px;
  /* border: 2px solid white; */
}

.overlap-text h4 {
  font-size: x-large;
}

.overlap-text p {
  font-size: large;
}

/*----------------------------- About------------------------ */
.about {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 3rem;
  /* border: 2px solid var(--accent); */
}

.welcome {
  display: flex;
  gap: 6rem;
  margin-bottom: 2rem;
}

.h1text {
  font-size: 3rem;
  text-align: left;
  /* float: left; */
  /* border: 2px solid red; */
}

.welcome-subtext {
  /* float: right; */
  font-size: 20px;
  margin-top: 40px;
  color: var(--textGray);
  /* border: 2px solid red; */
}

.learnmore {
  font-size: 24px;
  width: 252px;
  height: 52px;
  background-color: var(--accent);
  color: var(--white);
  border: none;
  border-radius: 16px;
  position: relative;
  top: 2rem;
  /* margin-top: 60px; */
  transition: all 0.5s;
}

.learnmore:hover {
  color: black;
  border: 1px solid black;
  background-color: var(--white);
}

.learnmore:active {
  color: var(--white);
  background-color: var(--accent);
}

/* ---------------------------Photo Slideshow-------------------- */
.slide-photo {
  display: inline-flex;
  position: relative;
  /* justify-content: center; */
}

.slide-photo > div {
  height: 600px;
  width: 320px;
  overflow: hidden;
}

.slide-photo img {
  position: relative;
  object-position: 50% 50%;
  height: 600px;
  width: 320px;
  object-fit: cover;
  transition: all 1s;
}

.slide-photo img:hover {
  transform: scale(1.1);
}

/* ---------------------------Beyond Horizons--------------------- */
.beyond-horizons {
  margin: 3rem;
  display: flex;
  gap: 2rem;
}

.beyond-travel-text {
  text-align: left;
}

.beyond-horizons h1 {
  font-size: 96px;
}

.beyond-horizons h2 {
  font-size: 48px;
  font-weight: normal;
}

.beyond-horizons p {
  margin-top: 1rem;
  font-size: 22px;
  color: var(--textGray);
}
.beyond-horizons img {
  width: 500px;
  height: 380px;
  object-fit: cover;
  border-radius: 2rem;
}
/* divider */
.post-divider {
  width: 80%;
  margin: 48px;
  border: 1px solid var(--bordergray);
}

/* ------------------------Pricing-------------------------------- */
.pricing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.pricing-header {
  text-align: center;
}

.pricing-header h1 {
  text-transform: uppercase;
  font-size: 2rem;
}

.pricing-header p {
  font-size: 20px;
  color: var(--textGray);
}

.price-boxes {
  gap: 1rem;
  display: flex;
}

.basic {
  background-color: #eefff9;
}
.high-end {
  background-color: #faf1f1;
}
.luxury {
  background-color: #f1edfa;
}

.price-box {
  text-align: center;
  padding: 2rem 4rem;
  border-radius: 60px;
  transition: all 1s;
}

.price-box:hover {
  padding: 2rem 6rem;
  border-radius: 20px;
}

.price-box h3 {
  font-size: 1.5rem;
}
.price-box h4 {
  font-size: 1rem;
  color: var(--textGray);
}
.price-box hr {
  margin: 10px 0px;
}

.basic-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 30px;
}
.basic-description-box {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.basic-description-title {
  display: flex;
  gap: 5px;
  align-items: center;
}
.basic-description-title p {
  font-weight: bold;
}

.know-more {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.know-more h2 {
  font-size: 2rem;
  font-weight: normal;
}

/* ---------------------contact-------------------------------- */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6rem;
}

.contact h1 {
  font-size: 5rem;
}

.contact-btn {
  color: white;
  background-color: black;
  border-radius: 20px;
  width: 180px;
  border-radius: 50px;
  transition: 700ms;
}

.contact-btn:hover {
  color: var(--accent);
  border-radius: 5px;
}

.contact-btn:active {
  background-color: black;
  border-radius: 5px;
}

/* -----------------Footer-------------------------------------- */
.copyrights {
  padding-top: 1rem;
  background-color: black;
  color: var(--white);
  display: flex;
  flex-direction: column;
}

/* summary and services */
.summary-and-services {
  display: flex;
  justify-content: space-evenly;
}

.firm-details > div > img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.firm-details {
  gap: 10px;
  display: flex;
  align-items: center;
}

.about-horizon p {
  font-size: 12px;
  width: 300px;
  color: rgb(225, 225, 225);
}

/* browse and services */
.browse-services {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.footer-hr {
  margin: 1rem;
  border: 1px solid grey;
}

.footer-contact {
  text-align: center;
}

.footer-copyrights {
  display: flex;
  justify-content: space-between;
}

.browse,
.services {
  display: flex;
  flex-direction: column;
  /* align-items: left; */
}

.browse a,
.services a {
  text-decoration: none;
  color: var(--textGray);
}

.browse h3,
.services h3 {
  padding-bottom: 10px;
  /* margin-top: -15px; */
}

.browse a:hover,
.services a:hover {
  text-decoration: underline;
  color: rgb(191, 190, 190);
}

/* footer-contact */
.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-details {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.contact-details i {
  color: white;
}

.contact-details i:hover {
  color: rgb(165, 165, 165);
}

.left-footer-copyrights p {
  font-size: 12px;
  margin-bottom: 10px;
  margin-left: 30px;
}

.right-footer-copyrights p {
  font-size: 12px;
  margin-bottom: 10px;
  margin-right: 30px;
  text-align: right;
}

/*------------------------ Media Queries-----------------------------  */

@media (max-width: 586px) {
  .logo-img {
    width: 50px;
    margin: 10px;
  }
  label.logo {
    font-size: 25px;
    padding: 0 10px;
    gap: 10px;
  }
  nav ul {
    display: none;
  }
  .title {
    font-size: 60px;
    margin-top: 10px;
  }
  p.description {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
  }
  .callout {
    backdrop-filter: blur(10px);
    margin-top: 30px;
    padding: 10px 60px;
  }
  h1.beginning {
    font-size: 25px;
    margin-top: 14rem;
    text-align: center;
  }
  .features h1 {
    font-size: 30px;
  }
  .divider {
    width: 30%;
  }
  /* features */
  .boxes {
    flex-direction: column;
  }
  .box {
    width: 300px;
  }
  /* destinations */
  .image-boxes {
    flex-direction: column;
  }
  .image-box {
    width: 350px;
    height: 300px;
  }
  .overlap-text {
    top: 220px;
  }
  /* about */
  .welcome {
    flex-direction: column;
    gap: 0;
    margin: 1rem 1rem;
    margin-bottom: 6rem;
    text-align: left;
  }
  .h1text {
    font-size: 1.8rem;
  }
  .learnmore {
    width: 100%;
  }
  /* photo slideshow */
  .slide-photo {
    flex-wrap: wrap;
    justify-content: center;
  }
  .slide-photo > div {
    height: 300px;
    width: 160px;
  }
  .slide-photo img {
    height: 300px;
    width: 160px;
    object-fit: cover;
    object-position: center;
  }
  /* beyond horizons */
  .beyond-horizons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 50px;
  }
  .part1 {
    width: 342px;
  }
  .beyond-travel-text {
    justify-content: center;
  }
  .beyond-travel-text h1 {
    font-size: 40px;
  }
  .beyond-travel-text h2 {
    font-size: 1.2rem;
  }
  .beyond-horizons p {
    font-size: 20px;
  }
  .beyond-horizons button {
    width: 100%;
    padding: 0;
    margin: 10px 0;
  }
  .beyond-horizons img {
    height: 190px;
    width: 100%;
    margin-top: 40px;
  }
  /* pricing */
  .price-boxes {
    flex-direction: column;
  }
  .price-box {
    padding: 1rem 1rem;
    margin: 0 20px;
    border-radius: 30px;
  }
  .price-box h3 {
    font-size: 1.5rem;
  }
  .price-box h4 {
    font-size: 0.9rem;
    color: var(--textGray);
  }
  .price-box hr {
    margin: 10px 0px;
  }
  .basic-description {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    margin-top: 15px;
  }
  .basic-description-box {
    gap: 3px;
  }
  .basic-description-text {
    font-size: 14px;
    font-weight: bold;
  }
  .know-more {
    text-align: center;
  }
  .know-more > button {
    width: 90%;
  }
  /*contact */
  .contact {
    text-align: center;
  }
  .contact h1 {
    font-size: 3.5rem;
  }
  .contact > img {
    width: 90%;
  }
  .contact-btn {
    width: 90%;
  }
  /* footer */
  .about-horizon {
    width: 20%;
  }
  .about-horizon p {
    width: 100%;
  }
  .summary-and-services {
    flex-direction: column;
  }
  .firm-details {
    justify-content: space-evenly;
  }
  .firm-details > div > img {
    height: 70px;
    width: 70px;
  }
  .about-horizon {
    width: 60%;
  }
  .summary-and-services {
    flex-direction: column;
    gap: 1rem;
  }
  .browse-services {
    width: 100%;
  }

  .browse,
  .services {
    gap: 5px;
  }

  .browse a,
  .services a {
    font-size: 14px;
    font-weight: bold;
  }
}
